fastapi
uvicorn
boto3
rasterio
numpy
pandas
shapely
pyproj
requests
pytest
psycopg2-binary
fsspec>=2023.1.0
s3fs>=2023.1.0
apache-airflow-providers-apache-iceberg
apache-airflow-providers-fab[ui,password-auth]
apache-airflow-providers-docker
pyarrow
